fieldset {
    padding: 3%;
    border-radius: 12px;
    background: #fbffcc;
    border: 1px solid black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
    margin-top: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

head {
    padding: 3%;
    border-radius: 12px;
    background: #f13565;
    border: 1px solid black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
    margin-top: 4%;
    font-family: garamond;
    font-weight: 500;
}

legend{

    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    background: #f67975;
    padding: .5%;
    border: 1px solid #ddd;
    border-radius: 10px;
}


label, input, select {
    display: block; box-sizing: border-box;
}

label {
    padding: 5px;
}

input, select {
    width: 100%; border: 1px outset; padding: 12px;
}

input:focus {
    background:#f67975; border: 2px solid rgb(185, 30, 147); outline: none;
}

.classe01{
    width: 50%; float: left;
}

.style2{
    text-align: center; padding: 2%;
}

button{
    padding: 10px;
    cursor: pointer;
    font-size: #eee;
    background: #eee;
    border: 1px solid #666;
}

button:hover { background-color: #ddd;}
button:active { background-color: #666;}

.confirmar { 
    background-color: rgb(135, 240, 109);
}

header{
    background-color: #f67975;
    padding: 2%;
    border-radius: 12px;
    font-style: normal;
}

header h1 {
    text-align: center;
    text-shadow: 1px 1px 2px #89c0cd;
    text-transform: uppercase;
}

main {
    padding: 2%;
    
}

body {
background-color: #caf2be;
}